@inherits UmbracoViewPage<IPageData>
@{
	var pageData = Model;
	var status = Model.Status;

	var SpecialMessage = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewDataString(ViewData, "SpecialMessage");
	var SpecialMessageClass = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewDataString(ViewData, "SpecialMessageClass");
	var specialMsgClass = GetClassForMessageType(pageData.)
	// var SelectedDataType = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewData(ViewData, "SelectedDataType") as IDataType;
	// var SelectedDocType = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewData(ViewData, "SelectedDocType") as IContentType;
	// var SelectedProperty = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewData(ViewData, "SelectedPropertyAlias") as PropertyType;
	// var AffectedContentNodesIenum = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewData(ViewData, "AffectedContentNodes") as IEnumerable<IContent>;
	// var AffectedProperties = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewData(ViewData, "AffectedProperties") as IEnumerable<DocTypeProperty>;
	// var FormInputs = Dragonfly.UmbracoHelpers.Mvc.GetSafeViewData(ViewData, "FormInputs") as FormInputsFindReplace;

	// var AffectedContentNodes = AffectedContentNodesIenum.ToList();

	// var propertyAliases = AffectedProperties.Select(n => n.Property.Alias).ToList();

	//Column Widths
	var col1Class = "col-sm-3";
	var col2Class = "col-sm-9";

	var pvStatus = ViewHelpers.GetViewsPath() + "Partials/StatusMessage.cshtml";
	var pvException = ViewHelpers.GetViewsPath() + "Partials/ExceptionDetailsLink.cshtml";
	var pvSS = ViewHelpers.GetViewsPath() + "Partials/StylesScripts.cshtml";

	// var pvFormFindReplace = ViewHelpers.GetViewsPath() + "Partials/FormFindReplace.cshtml";
	// var pvFormReplaceWithUdis = ViewHelpers.GetViewsPath() + "Partials/FormReplaceWithUdis.cshtml";

}
<!DOCTYPE html>
<html>
<head>
	@Html.Partial(pvSS, "styles")
</head>
<body>
	<div class="container-fluid">
		<!--TOP Buttons-->
			<div class="d-inline-flex p-2" style="padding: .5em 0;">
				<a class="btn btn-sm btn-primary mr-2" href="/umbraco/backoffice/Dragonfly/DataEditingTools/Start">Back to Start</a>
			</div>
		
		<h1>@ViewHelpers.PackageDisplayTitle <small>v. @ViewHelpers.PackageVersion.ToString(3)</small></h1>
		@if (!status.Success)
		{
			@Html.Partial(pvStatus, status)
		}
		else
		{
			if (SpecialMessage != "")
			{
				<div class="p-3 mb-2 @SpecialMessageClass text-white">
					@Html.Raw(SpecialMessage)
				</div>
			}
		}	
		

		@RenderBody() @*CHILD TEMPLATE BODY HERE*@

	</div>

	@Html.Partial(pvSS, "scripts")

	@RenderSection("FooterScripts", required: false)

</body>
</html>
