@inherits UmbracoViewPage<IPageData>
@{
	var pageData = Model;
	var status = Model.Status;

	var specialMessage = Model.SpecialMessage;
	var specialMsgClass = GetClassForMessageType(pageData.SpecialMessageType);

	//Column Widths
	var col1Class = "col-sm-3";
	var col2Class = "col-sm-9";

	var pvStatus = ViewHelpers.GetViewsPath() + "Partials/StatusMessage.cshtml";
	var pvSS = ViewHelpers.GetViewsPath() + "Partials/_StylesScripts.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	@Html.Partial(pvSS, "styles")
</head>
<body>
	<div class="container-fluid">
		@if (pageData.ViewName != "Start")
		{
			<!--TOP Buttons-->
			<div class="d-inline-flex p-2" style="padding: .5em 0;">
				<a class="btn btn-sm btn-primary mr-2" href="/umbraco/backoffice/Dragonfly/DataEditingTools/Start">Back to Start</a>
				@await RenderSectionAsync("TopButtons", false)
			</div>
		}

		<h1>@ViewHelpers.PackageDisplayTitle <small>v. @ViewHelpers.PackageVersion.ToString(3)</small></h1>
		@if (!status.Success)
		{
			@Html.Partial(pvStatus, status)
		}
		else
		{
			if (specialMessage != "")
			{
				<div class="p-3 mb-2 @specialMsgClass">
					@Html.Raw(specialMessage)
				</div>
			}
		}

		@RenderBody() @*CHILD TEMPLATE BODY HERE*@

	</div>

	@await Html.PartialAsync(pvSS, "scripts")

	@await RenderSectionAsync("FooterScripts", required: false)
</body>
</html>

@functions {
	private string GetClassForMessageType(MessageType PageDataSpecialMessageType)
	{
		switch (PageDataSpecialMessageType)
		{
			case MessageType.Info:
				return "bg-info text-white";
				break;

			case MessageType.Warning:
				return "";
				break;

			case MessageType.Error:
				return "bg-danger text-white";
				break;

			default:
				return "";
		}
	}

}